doctype html 
html
  head
    title dance academy
    block scripts 
    block style
  body
    nav#navbar
      ul
        div#logo 
          img(src="/static/image/logo.png")
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Classes]
        li #[a(href="/") Contact]
    block content
    footer#footer
        | Copyright©2023danceacademy.com   
  